<h1>Edit Post</h1>

<%= form_for @post do |f| %>

  <%=f.label :title%>
  <%=f.text_field :title%>

  <%=f.label :body%>
  <%=f.text_field :body%>

  <%=f.submit %>

<%end%>

<%= form_for @post, method: :delete, data: {confirm: "Are you sure?"} do |f| %>
  <%= f.submit "Delete!", class: "delete"%>
<% end %>

<%= link_to "<--", post_path(@post) %>
